.navbar {
    display: flex;
    justify-content: flex;
    align-items: center;
    background-color: #42b4e9; 
    height: 60px;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .logo {
    width: 50px; 
    align-items: left;
    margin: 0 20px;
    border-radius: 100%;
  }
  
  .navbar a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: #5f9ea0; 
  }

  .logo {
    color: #ffffff;
    font-size: 15px;
    margin: 0 10px;
    font-weight: bold;
  }
